.container {
  border: 5px solid black;
  width: 75%;
  text-align: center;
}
.flex-box-container {
  display: flex;
  /* border: 1px solid salmon; */
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.flex-box-container img {
  height: 200px;
  width: 200px;
  /* padding: 15px; */
  margin: 10px;
  box-shadow: 0px 10px 50px black;
}
